body{ 
    background-color: #eef0f1 !important; 
}
header{
    background-color: #fff;
}
.header{
    padding: 13px;
}
.header-link a{
    text-decoration: none;
    color: #474D64;
    font-size: 17px;
    font-weight: 400;
}

/* **** Header Button********* */
.login-btn{
    width: 80px;
    border: 1px solid #275DfD;
    padding: 8px;
    border-radius: 30px;
    color:  #275DfD;
    font-weight: 500;
}
.register-btn{
    width: 100px;
    background-color: orangered;
    border: 0;
    padding: 8px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.line{
    color: lightgray;
    font-size: 20px;
    font-weight: 100;
}
.emp{
    color: #474D64;
    font-size: 17px;
    font-weight: 400;
}

/* ******* Hover ********* */
.hover:hover{
    
    border-bottom: 3px solid orangered;
    
}
.hover-box{
    display: none;
}

/* *********** Main *********** */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.title{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: var(--N800);
    margin-bottom: 10px;
}
/* ********* Search -sectio ********* */
.search-section{
    border-radius: 40px;
    font-size: 18px;
}
.search-btn{
    margin-left: 14px;
    padding: 10px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: rgb(45, 45, 240);
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    border: 0;
}
input , select{
    outline: none;
    border: none;
}
