body{ 
    background-color: #eef0f1 !important; 
}
header{
    background-color: #fff;
}
.header{
    padding: 13px;
}
.header-link a{
    text-decoration: none;
    color: #474D64;
    font-size: 17px;
    font-weight: 400;
}

/* **** Header Button********* */
.login-btn{
    width: 80px;
    border: 1px solid #275DfD;
    padding: 8px;
    border-radius: 30px;
    color:  #275DfD;
    font-weight: 500;
}
.register-btn{
    width: 100px;
    background-color: orangered;
    border: 0;
    padding: 8px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}
